{% extends "base_gv.html" %}

{% block title %}Create an account{% endblock %}
{% block nav %}
		<li class="active"><a href="#">Register</a></li>
		
		{% endblock %}

{% block content %}
 {% if form.errors %}
    <p style="color: red;"> Please correct the error{{ form.errors|pluralize }} below.</p>
  {% endif %}
  <h3>Create an account</h3>

  <form action="/register/" method="post">{% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Create the account">
      <a href="/login/">Cancel to login </a>
  </form>
{% endblock %}